header.header
  .header__left
    .header__logo
      img(src="images/header/logo.png" alt="main logo")
    nav.header__navigation
      ul.header__menu
        li.header__item
          a(href="#").header__link
            | Home
        li.header__item
          a(href="#").header__link
            | About
        li.header__item
          a(href="#").header__link
            | Portfolio
        li.header__item
          a(href="#").header__link
            | Services
        li.header__item
          a(href="#").header__link
            | Page
        li.header__item
          a(href="#").header__link
            | Elements

  .header__right
    a(href="#").header__contact-btn
      | Contact us
    .header__burger
      span.header__burger-line
      span.header__burger-line.header__burger-line_longer
      span.header__burger-line

