header.header
  .header__left
    .header__logo
      img(src="images/header/logo.png" alt="main logo")
    nav.header__navigation
      ul.header__menu
        li.header__item
          a(href="#").header__link
            | Home
        li.header__item
          a(href="#").header__link
            | About
        li.header__item
          a(href="#").header__link
            | Portfolio
        li.header__item
          a(href="#").header__link
            | Services
        li.header__item
          a(href="#").header__link
            | Page
        li.header__item
          a(href="#").header__link.header__link_hover
            | Elements
    .header__tooltip
      .header__tooltip-box
        .header__tooltip-title
          | Elements
        ul.header__tooltip-list
          li.header__tooltip-item
            a.header__tooltip-link
              | Client
          li.header__tooltip-item
            a.header__tooltip-link
              | Progress Bar
          li.header__tooltip-item
            a.header__tooltip-link
              | Header
          li.header__tooltip-item
            a.header__tooltip-link
              | Footer
          li.header__tooltip-item
            a.header__tooltip-link
              | Accordions
          li.header__tooltip-item
            a.header__tooltip-link
              | Pricing

      .header__tooltip-box
              .header__tooltip-title
                | Elements 2
              ul.header__tooltip-list
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Contact Forms
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Counters
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Icon box
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Subscribe Newsletter
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Action button
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Video Section

      .header__tooltip-box
        .header__tooltip-title
          | Elements 3
        ul.header__tooltip-list
          li.header__tooltip-item
            a.header__tooltip-link
              | Creative_Shape
          li.header__tooltip-item
            a.header__tooltip-link
              | Blog box
          li.header__tooltip-item
            a.header__tooltip-link
              | Testimonial
          li.header__tooltip-item
            a.header__tooltip-link
              | Services
          li.header__tooltip-item
            a.header__tooltip-link
              | About us
          li.header__tooltip-item
            a.header__tooltip-link
              | Faq

      .header__tooltip-box
              .header__tooltip-title
                | Elements 4
              ul.header__tooltip-list.header__tooltip-list_no-distance
                li.header__tooltip-item
                  a.header__tooltip-link
                    | 404
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Coming Soon Page
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Button
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Typography
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Team
                li.header__tooltip-item
                  a.header__tooltip-link
                    | Structure

  .header__right
    a(href="#").header__contact-btn
      | Contact us
    .header__burger
      span.header__burger-line
      span.header__burger-line.header__burger-line_longer
      span.header__burger-line

