.service
  .service__ellipse
    img(src="images/service/Ellipse.png" alt="image ellipse")
  .service__bg
  .service__container
    .service__sub-title
      | We’re Offering
    .service__head
      .service__title
        | SEO Services with talent specialist &
        br
        | Digital business
      a(href="#").service__more-btn
        | See More Services
    .service__row
      .service__col
        .service__card.service__card_low-top
          .service__card-img
            img(src="images/service/second.png")
          .service__card-title
            | Content Marketing
          .service__card-descr
            | We craft great content that keep your users
            | interested and coming back for more.
            | I have mixed feelings about the explosion of web content.
      .service__col
        .service__card.service__card_distance
          .service__card-img
            img(src="images/service/first.png")
          .service__card-title
            | Link Building
          .service__card-descr
            | Links are still a powerful ranking factor in SEO.
            | However, acquiring the wrong links could lead to a Google Penalty.
        .service__card.service__card_low-bottom
          .service__card-img
            img(src="images/service/third.png")
          .service__card-title
            | SEO & Social media
          .service__card-descr
            | Your data tells a story that we need to understand.
            | We’ve built a proprietary report that pulls important SEO data from Google Search Console
      .service__col
        .service__card.service__card_high-top
          .service__card-img
            img(src="images/service/fourth.png")
          .service__card-title
            | AdWords & PPC
          .service__card-descr
            | Is your Google AdWords budget disappearing without
            | sales or calls? Or are you new to pay per click advertising, PPC?

