.about
  .about__bg
  .about__wrap
    .about__img
      img(src="images/about/main.png" alt="main image")
    .about__main
      .about__main-bg
      .about__sub-title
        | About SEO agency
      .about__title
        | Our SEO marketing team
        | integrates strategy
      .about__descr
        | We’re on a mission to start a conversation with your
        | customers in this fast connected world.
      .about__sub-descr
        | Sed ut perspiciatis unde omnis iste natus error
        | sit voluptatem accusantium doloremque laudantium, totam rem
      a(href="#").about__more-btn
        | Learn more
  .about__rect
    img(src="images/about/Rounded_Rectangle.png" alt="image rectangle")
  .about__ellipse
    img(src="images/about/Ellipse.png" alt="image ellipse")
