footer.footer
  .footer__rect
    img(src="images/footer/Rectangle_2.png" alt="image rectangle")
  .footer__rect-color
    img(src="images/footer/Rectangle_1.png" alt="color rectangle")
  .footer__container
    .footer__head
      .footer__info
        .footer__logo
          img(src="images/footer/logo.png" alt="footer logo")
        .footer__adress
          | 75 Arlington St. Suite 500 Boston, MA
          br
          | 02116, USA
        .footer__number
          | +088 01912704287
        .footer__email
          | infooffice@gmail.com
        .footer__socials
          .footer__socials-elem
            img(src="images/footer/facebook.png" alt="facebook image")
          .footer__socials-elem
            img(src="images/footer/linked.png" alt="linked inn")
          .footer__socials-elem
            img(src="images/footer/ball.png" alt="ball image")
          .footer__socials-elem
            img(src="images/footer/twit.png" alt="twitter image")
      .footer__about
        .footer__company
          .footer__title
            | Company
          ul.footer__list
            li.footer__item
              a.footer__link
                | About
            li.footer__item
              a.footer__link
                | Contact
            li.footer__item
              a.footer__link
                | Home
            li.footer__item
              a.footer__link
                | Insights
            li.footer__item
              a.footer__link
                | Services & Clients
            li.footer__item
              a.footer__link
                | Work
        .footer__solution
          .footer__title
            | Solution
          ul.footer__list
            li.footer__item
              a.footer__link
                | Digital maeketing
            li.footer__item
              a.footer__link
                | Phototype
            li.footer__item
              a.footer__link
                | Development
            li.footer__item
              a.footer__link
                | Design
            li.footer__item
              a.footer__link
                | Business Strategy
            li.footer__item
              a.footer__link
                | Agency protfolio
    .footer__bottom
      .footer__copyright
        | Copyrights 2019 Template_mr Template
      .footer__apps
        .footer__apps-descr
          | Mobile Apps :
        .footer__apps-img
          img(src="images/footer/apps.png" alt="apps image")
      .footer__policy
        | Privacy Policy   Customer Support   Careers
